<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="CoinBaseCamp Trader App - Educational Platform" />
<meta name="author" content="Norton" />
<meta name="keywords" content="education, courses, learning, science" />
<meta name="robots" content="index, follow" />
<title>CoinBaseCamp Trader App</title>

<link id="favicon" rel="icon" href="/app/public/favicon.ico" type="image/x-icon">
<link href="/cdn/npm/bootstrap/5.0.2/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
<link href="/cdn/npm/font-awesome/7.0.1/css/all.min.css" rel="stylesheet" crossorigin="anonymous">
<link href="/cdn/npm/ajax/libs/sweetalert2/11.23.0/sweetalert2.min.css" rel="stylesheet" crossorigin="anonymous">